---
import {TCanvas} from './TCanvas'
import {qs} from './utils'
---

<div class="webgl-canvas__container"></div>


<script src="./entry.ts"></script>
<style>
.webgl-canvas__container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
  }
</style>