---
import Layout from '../layouts/Layout.astro';
import WebGLCanvas from '../three/WebGLCanvas.astro';
---

<Layout title="Three JS Demo">
	<WebGLCanvas />
	<main>
		<div id="directions">
			<p><a href="../">Home</a></p>
			<h2>Three.js Web Demo</h2>
			<p><a href="https://westwoodgamedev.github.io/">Link to this being used as a background in a real website</a></p>
			<h3>Uses <a href="https://threejs.org/">Three.js</a> for rendering, and <a href="https://github.com/pmndrs/cannon-es">cannon-es</a> for physics.</h3>
			
			<br>
			<u><h3>Controls: </h3></u>
			<p>Mouse over to blow balls away</p>
		</div>
	</main>
</Layout>

<style>
	#directions {
		margin: 50px;
		color: white;
	}
</style>
